# --- Analyse de données et Calcul ---
numpy
scipy

# --- Astronomie ---
lightkurve

# --- Machine Learning & IA ---
tensorflow
scikit-learn

# --- Utilitaires et Graphiques ---
matplotlib
fastapi
uvicorn[standard]
python-multipart

# --- Gestion des avertissements (inclus dans Python, pas besoin d'install) ---